<div class="grid-items-lines">
  

  <% @reparos.each do |reparo| %>
  <%=link_to(reparo_slug_path(reparo.slug),class: "grid-item") do%>
    <h1><%=reparo.nome.to_s%></h1>
    <p><%=reparo.descricao.to_s%></p>

    <% reparo.fotos.each do |foto|%>
      <%=image_tag foto.image(:thumb)%>
    <% end -%>
  <% end %>
  <% end -%>
  <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div>