<%
title "#{MAIN_TITLE} - Nossos Reparos"

content_for :head do %>
  <%= stylesheet_link_tag "reparos", media: "all", "data-turbolinks-track" => true %>
<% end %>
<br>
<br>
  <h1>Veja os Reparos feitos pela Tecno Porto</h1>
<%=render "grid"%>


<%= paginate @reparos, :param_name => :pagina%>