<%
title "#{MAIN_TITLE} - #{@reparo.nome.to_s}"
%>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @reparo.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @reparo.descricao %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @reparo.tipo %>
</p>

<p>
  <strong>Published:</strong>
  <%= @reparo.published %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @reparo.slug %>
</p>


<%=debug(@reparo.fotos)%>

<%@reparo.fotos.each do |foto|%>
<%=foto.titulo%>
<%=image_tag(foto.image(:normal))%>
<% end %>
