@include placeholder-color(rgba(255, 255, 255, 0.9));
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-size:1.3em!important;
  font-weight: normal!important;
  line-height: 1.0em!important;

  outline: 0px!important;
  padding: 10px!important;
  &:focus {
    // @include transition;
    outline: 0;
    box-shadow:none!important;
  }
}
input[type="submit"]{
  // padding-right: 10px!important;
  // padding-left: 25px!important;
  // background-color: blue!important;
}
select{
  // @include dev-borders;
  padding:10px!important;
  width:220px!important;
  font-size:1.2em!important;
}
.btn {
    @include rounded-corners (0px);
    outline: 0px!important;
    border:none!important;
    background: darken($oldMaroon, 10%);
    height: 48px;

    font-family: 'Coustard', serif;
    font-size:1.2em;
    line-height: 1.3em;
    text-transform: uppercase;
    color: $white;
    @include no-shadow;

  &:hover,
  &:focus {
    background: darken($oldMaroon, 15%);
    color: $white;
    outline: 0px;
  }
  // Focus state for keyboard and accessibility
  &:focus {
  }

  // Active state
  &.active,
  &:active {
  }
  // Disabled state
  &.disabled,
  &[disabled] {
  }
}
.well {
  @include rounded-corners (0px);
  @include no-shadow;
}
textarea{
  height:inherit;
  @include rounded-corners (0px);
}
input[type="number"]{
  text-align: right;
}

.error-message{
  font-size: 1.5em;
  color: $red;
  padding: 15px;
  margin-left: 30px;
}
.form-error,input.form-error{
  margin-bottom: 3px;
}
.message{
	width: 300px;
	text-align: center;
	margin: 18px auto;
}
div#flashMessage.message, div#authMessage.message{
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	margin-top:18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #3a87ad;
}
div#goodMessage.message{
	padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  margin-top:18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;

  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
div#badMessage.message{
	padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  margin-top:18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;

  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

label{
  font-weight: bold;
}

.required-legend{
  color:rgba(221,35,9,1);
  font-size: 0.8em;
  font-weight: normal;
}
.required {

}
div.input.text.required label{
  width: 10px;
  @include dev-borders;
}
div.input.text.required label:after{
  content: " *";
  color:rgba(221,35,9,1);
  font-size: 1em;
  font-weight: normal;
  text-align: center;
}
.required-sign{
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;

  padding-top: 20px;
}
