/*
*
*	main.sass
*
*/
@import "variables.scss";
@import "colors/colors.scss";
@import "utils.scss";
@import "inputFormsAndMessages.scss";
html{
	// overflow-x:hidden;
}
body{
	font-family: "Open Sans", "sans-serif";
	font-weight: 300;
	line-height: 1.6;
	text-align: left;
	color:$gray;
	background:$backgroundColor;
	-webkit-font-smoothing: antialiased;
}

a{
	&:hover{
		text-decoration: none;
	}
}
::-moz-selection { 
	background: $oldMaroon;
	color: #fff;
}
::selection { 
	background: $oldMaroon;
	color: #fff;
}
.container-fluid{
	padding: 0px;
}
.container-fixed{
	margin: 0 auto;
	max-width: 970px;
	// .drop-shadow ($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25) {
	@include drop-shadow (0,  1px, 10px, 0,  0.25);

}




$viewPortHeight: 300px;
$slideMenuWidth: 280px;

.head.scroll{
	.menu-anchor{
		
	}
	.header-text{
		color:$gray;
		text-shadow:0px -1px 0px rgba(0, 0, 0, 0.5);
	}
	.sub-header-text{
		color:$gray;
		text-shadow:0px -1px 0px rgba(0, 0, 0, 0.5);
	}
}
.head{

}


#container{
	@include transition;
}
menu {
	@include translatex(-$slideMenuWidth);
	@include transition;
}

menu {
	// @include dev-borders;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	margin: 0px;
	width: $slideMenuWidth;
	height: 100%;
	padding-top: 10px;
	padding-left: 0px;
	background: darken($blue, 15%);
	box-shadow: inset -5px -10px 10px 0 rgba(0,0,0,.3);
	@include border-box;
	i.icon-home{
		font-size: 1.1em;
	}
	span[class^="icon-"],
	span[class*=" icon-"] {
		color:$white!important;
		font-size: 0.8em;
	}
	a[class^="icon-"],
	a[class*=" icon-"] {
		font-size: 2.5em;
		margin-top: 20px;
		margin-right: 10px;
		color:$white!important;
		padding-left: 0px!important;
		@extend animated;
		@extend swing;
		&:hover{
			color:white!important;
			@extend animated;
			@extend scale-pulse;
			// @extend animation-params (1s, 5s, 1);
		}
	}
	h3{
		color:$teal;
		text-transform: uppercase;
		padding-left: 20px;
		font-size: 2.2em;
	}
	.social{
		margin-left: 20px;
	}
	ul{
		margin: 0px;
		margin-top: 40px;
		padding-left: 20px;
		li{
			list-style: none;
			&:last-child{
				a{
					border-bottom:none;
				}
			}
			a{
				font-size: 1.1em;
				line-height: 1.0em;
				display: block;
				width: 90%;
				margin-bottom: 10px;
				padding-bottom: 10px;
				border-bottom:1px solid fade($white,10%);
				color:$white!important;
				&:hover{
					color:lighten($white, 10%);
				}
			}
		}
	}
}

/*
   Com a classe menu-active na tag HTML
*/
html
.menu-active {
	@include dev-borders;
}
.menu-active 
.menu-anchor:before {
	
}
.menu-active 
.menu-anchor 
{
	color:transparent;
}
.menu-active html,
.menu-active body,
	{
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}
.menu-active menu {
	@include translatex(0);
	@include transition;
}

.menu-active 
#container {
	@include translatex($slideMenuWidth);
	@include transition;
}

// Header and Footer
header.normal{
	@include no-shadow();
}
header.mini{
	@include drop-shadow (0, 1px, 10px,  0,  0.25);
}
header{
	// @include dev-borders;
	// background-color: rgba($white, 0.95);
	background:$backgroundColor;
	height: 100px;
	padding:10px;
	border-top:4px transparent white;
	// position: fixed!important;
	z-index: 10000;
	.lang{
		// @include dev-borders;
		float: right;
		ul li{
				list-style: none;
				padding:0px;
				padding-left: 0px!important;
				margin:0px;
				float: left;
			a{
				color: $oldMaroon;
				padding:10px;
				font-size: 1.0em;
				&:hover{
					color: darken($oldMaroon,20%);
				}
			}
		}
	}
	.head{
		margin-left: 70px;
		margin-top: 10px;
		@include transition;
		.profile{
			// @include dev-borders;
			cursor: pointer;
			width: 70px;
			height: 70px;
			float: left;
			margin-right: 15px;
			&:hover{
				@extend animated;
				@extend tada;
			}
			img{
				@include center;
				width:70px;
				height: auto;
				@include rounded-corners(50%);
			}
		}
		.menu-anchor {
			a{
				cursor: pointer;
				cursor: pointer;
				z-index: 10000;
				color: darken($blue, 10%);
				font-size: 1.8em;
				line-height: 1.0em;
				float:left;
				padding-right: 10px;
			}
		}
		.header-text{
			a{
				cursor: pointer;
				font-family: 'Coustard', serif;
				font-size:1.5em;
				line-height: 1.3em;
				margin-top: 7px;
				display: block;
				color: darken($oldMaroon, 10%);	
				&:hover{
					color: darken($oldMaroon, 20%);
					text-decoration: underline;
				}
			}
		}
		.sub-header-text{
			a{
				cursor: pointer;
				display: block;
				color: darken($oldMaroon, 10%);
				margin-left: 32px;
			}			
		}
	}
}

footer{
	// @include dev-borders;
	font-size: 12px;
	line-height: 17px;
	min-height: 180px;
	max-height: auto;
	color: $white;
	
	padding-bottom:40px;
	padding-top:40px;

	background: $oldMaroon;
	// background: $blue url('/images/footer.jpg');
	// background-size: cover;
	a{
		color:$silver;
	}
	h2{
		color:white;
		text-transform: uppercase;
		padding-bottom: 5px;
		margin-bottom: 10px;
		font-size: 1.5em;	
		letter-spacing: -1px;
		border-bottom:1px solid rgba(255, 255, 255, 0.25);
	}
	a[class^="icon-"],
	a[class*=" icon-"] {
		font-size: 2.5em;
		margin-top: 20px;
		color: darken($white, 10%);
		padding-left: 0px!important;
		&:first-child{
			
		}
		&:hover{
			color:white;
			@extend animated;
			@extend scale-pulse;
			// @include animation-params (1s, 5s, 1);
		}
	}
	a{
		margin-bottom:1px;
		text-decoration:none;
		color:white;
		@include transition;
		&:hover{
			text-decoration:none;
			color: $dourado;
		}
	}
}
.copyright {
	background:$backgroundColor;
	padding: 44px;
	text-align: center;
	color:#666666;
	font-size: 1.2em;
	font-weight: 600;
}


// Header and Footer










/* iPad Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

}
/* iPad landscape*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
{
	body{
		padding-left: 0px!important;
		padding-right: 0px!important;
	}
}
/* iPhone */
@media
(min-width: 320px) 
and (max-width: 480px)
{
	header{
		width: 100%!important;
	}
	#debug-kit-toolbar{
		width: 320px!important;
	}
	.form-wrapper{
		padding-left: 20px;
		padding-right: 20px;
	}
	.page-block-text{
		margin-left:20px;
		width: 90%;
		a{
			float: none!important;
		}
	}
	.btn-navbar.btn{
		margin-top:20px!important;
		text-align: center;
		color: black;
	}
	.btn-navbar{
		color: black;
		width: 80%;
		padding-top: 10px;
		padding-bottom: 10px;
		@include center;
		&:hover{
			color: black!important;
		}
	}
	body{
		padding-left: 0px!important;
		padding-right: 0px!important;
	}
	.nav-collapse{
		width: 100%!important;
		z-index: 99999999999;
		display: block;
		@include drop-shadow (0,1px,10px,0,0.50);
	}
	.collapse{
		width: 100%!important;
	}
}
/* iPhone end */
