// Create variables [optional]
$basefont: 14; // in pixels
$baseline: 20; // in pixels

@mixin hide{
  display: none;
}
@mixin show{
  display: block;
}
@mixin reflex{
  -webkit-box-reflect: below -40px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.5)));
}
@mixin blur($blur:2px, $opacity:0.4){
  -webkit-filter: blur($blur);
    -moz-filter: blur($blur);
    -o-filter: blur($blur);
    -ms-filter: blur($blur);
    filter: blur($blur);
    // opacity: $opacity;
}
@mixin background-size($size: cover){
  -webkit-background-size: $size!important;
  -moz-background-size: $size!important;
  -o-background-size: $size!important;
  background-size: $size!important;  
}
@mixin gradient ($startColor: #eee, $endColor: white) {
  background-color: $startColor;
  background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
  background: -webkit-linear-gradient(top, $startColor, $endColor);
  background: -moz-linear-gradient(top, $startColor, $endColor);
  background: -ms-linear-gradient(top, $startColor, $endColor);
  background: -o-linear-gradient(top, $startColor, $endColor);
}
@mixin horizontal-gradient ($startColor: #eee, $endColor: white) {
  background-color: $startColor;
  background-image: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
  background-image: -webkit-linear-gradient(left, $startColor, $endColor);
  background-image: -moz-linear-gradient(left, $startColor, $endColor);
  background-image: -ms-linear-gradient(left, $startColor, $endColor);
  background-image: -o-linear-gradient(left, $startColor, $endColor);
}
@mixin no-shadow () {
  -webkit-box-shadow: none!important;
  -moz-box-shadow:    none!important;
  box-shadow:         none!important;
}

@mixin drop-shadow ($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25) {
  -webkit-box-shadow:  $x $y $blur $spread rgba(0, 0, 0, $alpha);
  -moz-box-shadow:     $x $y $blur $spread rgba(0, 0, 0, $alpha);
  box-shadow:          $x $y $blur $spread rgba(0, 0, 0, $alpha);
}
@mixin inner-shadow ($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25) {
  -webkit-box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
  -moz-box-shadow:    inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
  box-shadow:         inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
}
@mixin rounded-corners ($radius: 5px) {
  -webkit-border-radius: $radius!important;
  -moz-border-radius: $radius!important;
  -ms-border-radius: $radius!important;
  -o-border-radius: $radius!important;
  border-radius: $radius!important;
}
@mixin border-box{
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing :border-box; 
}
@mixin content-box{
  box-sizing: content-box;
  -webkit-box-sizing:content-box;
  -moz-box-sizing :content-box; 
}
@mixin grayscale($value:100%){
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale($value); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
@mixin opacity($value:100%){
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
}
@mixin image-fill{
  height:187px!important;
  overflow: hidden;
  // @extend dev-borders(blue);
  img{
    @extend content-box;
    width: auto!important;
    height: 110%!important;
  /*
      width:260px!important;
      height:187px!important;
  */
  }
}
@mixin dev-borders ($color:red) {
  border:1px solid $color;
}
@mixin center{
  margin:0px auto!important;float:none!important; 
}
.center{
  @include center;
}
@mixin no-margin{
  margin:0px!important;
}
@mixin transition-linear{
    -webkit-transition: all 250ms linear;
   -moz-transition: all 250ms linear; 
    -ms-transition: all 250ms linear;
     -o-transition: all 250ms linear; 
        transition: all 250ms linear;
}
@mixin transition ($prop: all, $time: 0.25s, $ease: linear) {
-webkit-transition: all 250ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -moz-transition: all 250ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
    -ms-transition: all 250ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -o-transition: all 250ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition: all 250ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */

-webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */

    // -webkit-transition: $prop $time $ease;
    // -moz-transition: $prop $time $ease;
    // -o-transition: $prop $time $ease;
    // -ms-transition: $prop $time $ease;
    // transition: $prop $time $ease;
}
@mixin translatex($param){
  -webkit-transform: translateX($param);
  -moz-transform: translateX($param);
  -ms-transform: translateX($param);
  -o-transform: translateX($param);
  transform: translateX($param);
}

@mixin placeholder-color($color){
  *::-webkit-input-placeholder {color: $color!important;}
  ::-webkit-input-placeholder { color:$color!important; }
  ::-moz-placeholder { color:$color!important; } /* firefox 19+ */
  :-moz-placeholder { color:$color!important; } /* firefox 19+ */
  :-ms-input-placeholder { color:$color!important; } /* ie */
  input:-moz-placeholder { color:$color!important; }
}
.height-5{
  width: 1px;
  height: 5px;
}
.height-10{
  width: 1px;
  height: 10px;
}
.height-20{
  width: 1px;
  height: 20px;
}
.height-30{
  width: 1px;
  height: 30px;
}
.height-40{
  width: 1px;
  height: 40px;
}
.height-50{
  width: 1px;
  height: 50px;
}
.height-60{
  width: 1px;
  height: 60px;
}
.height-70{
  width: 1px;
  height: 70px;
}
.height-80{
  width: 1px;
  height: 80px!important;
}
.height-90{
  width: 1px;
  height: 90px;
}
.height-100{
  width: 1px;
  height: 100px;
}
.height-150{
  width: 1px;
  height: 150px;
}
.height-200{
  width: 1px;
  height: 200px;
}