<h1>Aparelhos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Marca</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.nome %></td>
        <td><%= device.descricao %></td>
        <td><%= device.marca %></td>
        <td><%= device.slug %></td>
        <td><%= link_to "mostrar", aparelhos_slug_path(:slug=>raw(device.slug))  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
