<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @device.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @device.descricao %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @device.marca %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @device.slug %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
