<footer class="footer">
  <div class="footer-links">
    <ul>
        <li><h3>Conteúdo</h3></li>
        <li><%=link_to "Reparos de Aparelhos", reparos_path%></li>
        <li><%=link_to "Nossos Serviços","/servicos/"%></li>
        <li><%=link_to "Nossos Produtos", "/produtos/"%></li>
        <li><%=link_to "Sobre Nós", "/sobre-nos"%></li>
        <li><%=link_to "Contato", "/contato/"%></li>
    </ul>
    <ul>
      <li><h3>Reparos mais vistos</h3></li>
      <%@reparosMaisVistos.each do |reparo|%>
        <li><%=link_to reparo.nome, reparo_slug_path(reparo.slug)%></li>
      <% end %>
      <li><%=link_to "Todos os Reparos", reparos_path%></li>
    </ul>
    <ul>
      <li><h3>Siga a gente</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Fale com agente</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>

  </div>

  

  <p>Todos os direitos reservados</p>
</footer>
