<header class="navigation">
  <div class="navigation-wrapper">

    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        
        <li class="logo">
          
          <%= link_to image_tag("logo-home.png", size: "256x114"), "/" %>

        </li>

        <li class="nav-link more"><a href="javascript:void(0)">Reparos de Aparelhos</a>
          <ul class="submenu">
            <li><%=link_to "Celulares e SmartPhones", reparo_aparelho_tipo_path("smartphones")%></li>
            <li><%=link_to "Tablets",reparo_aparelho_tipo_path("tablets")%></li>

              <li class="more"><a href="javascript:void(0)">Apple</a>
              <ul class="submenu">
                <% @reparosApple.each do |reparo|%>
                  <li><%=link_to reparo.nome, reparo_slug_path(reparo.slug)%></li>
                 <% end %>
                <li><%=link_to "Mais...", reparo_aparelho_marca_path("apple")%></li>
              </ul>
            </li>

            <li class="more"><a href="javascript:void(0)">Samsung</a>
              <ul class="submenu">
                <% @reparosSamsung.each do |reparo|%>
                  <li><%=link_to reparo.nome, reparo_slug_path(reparo.slug)%></li>
                <% end %>
                <li><%=link_to "Mais...", reparo_aparelho_marca_path("samsung")%></li>
              </ul>
            </li>

          </ul>
        </li>
        
        <li class="nav-link"><%=link_to "Nossos Serviços","/servicos/"%></li>
        <li class="nav-link"><%=link_to "Nossos Produtos", "/produtos/"%></li>
        <li class="nav-link"><%=link_to "Sobre Nós", "/sobre-nos"%></li>
        <li class="nav-link"><%=link_to "Contato", "/contato/"%></li>
      </ul>
    </div>
    <div class="navigation-tools">

      
    </div>
  </div>
</header>