<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>


<%= paginator.render do -%>
<div class="pagination">
  <ul>
    <li><%= first_page_tag unless current_page.first? %></li>
    <li>
      <ul>
    <% each_page do |page| -%>
      <% if page.left_outer? || page.right_outer? || page.inside_window? -%>
      <li><%= page_tag page %></li>  
      <% elsif !page.was_truncated? -%>
        <li><%= gap_tag %></li>
      <% end -%>
    <% end -%>
      </ul>
    </li>
    <li class="page-next"><%= next_page_tag unless current_page.last? %></li>
  </ul>
</div>
<% end -%>