
.footer {
  font-family: $base-font;
  font-weight: 350;
  
  $footer-color: white;
  $footer-link-color: darken($gray,20);//transparentize($footer-color, .4);
  $footer-disclaimer-color: transparentize($footer-color, .4);

  background: lighten($gray,20);
  border-top:5px solid $gray;
  padding:48px 0px 0px 0px;
  width: 100%;

  
  .footer-links {
    @include clearfix;
    margin-bottom: 0px;
  }

  ul {
    margin-bottom: $base-line-height*2;
    @include media(1024px) {
      @include span-columns(2);
      @include omega(4n);
      @include shift(1);
    }
}

  li {
    text-align: center;

    @include media($medium-screen) {
      text-align: left;
    }
  }

  li a {
    color: $footer-link-color;

    &:hover {
      color: darken(  $footer-link-color, 20);
    }
  }

  li h3 {
    color: $footer-link-color;
    font-size: 1.3em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 800;
    letter-spacing: -.030em;
    margin-bottom: .4em;
  }  

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, .3);
    margin: 0 auto $base-line-height;
    width: 12em;
  }

  p {
    background-color: darken($backgroundColor,20);
    color: white;
    font-size: .9em;
    font-weight:100;
    line-height: 1.5em;
    margin: auto;
    text-align: center;
    padding:25px 0px 25px 0px;
  }
}