/*
*
*	COLORS!
*
*/
$chumbo:rgba(88,88,90,1);
//dourado setinha
$dourado:rgba(199,167,42,1);
$douradoEscuro:rgba(187,138,36,1);
$douradoClaro:rgba(211,168,9,1);
$marrom: rgba(78,71,55,1);
$marromEscuro: rgba(107,90,17,1);
$roxo:rgb(80,77,103);
$fucsia:rgb(255,0,153);
// $facebookBlue:rgb(77,87,149);
$facebookBlue:rgb(64,92,149);
$cinzaClaro:rgb(108, 110, 112);
$laranja: #FB6C09;
// $backgroundColor:#fefbe8;
$backgroundColor:rgb(246,241,226);
$oldMaroon: #800000;

// petulant-ninja (Tecno Porto)
$backgroundColor:#00aeef;

$foregroundColor:white;

$base-font:'Open Sans', "helvetica neue", sans-serif;


// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints
$mobile: new-breakpoint(max-width 320px 4);
$medium-screen: em(640);
$large-screen: em(1024);
$extra-large-screen: em(1600);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);