// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
//Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

//My custom css framework! :P
@import "sass/utils";
@import "sass/colors/colors";
@import "sass/inputFormsAndMessages";


// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


#footer{
  p{
    @include hide;
  }
}

.site_title{
  img{
    height:21px;
  }
}


//
// Custom variables
//


$backgroundColor: $blue;
$foregroundColor: white;


// body{
//   font-family: "helvetica neue";
//   font-weight: 400;
//   line-height: 1.6;
//   text-align: left;
//   background:white;
//   -webkit-font-smoothing: antialiased;
// }

//
// .header{
// 	// background:rgba(96,175,236,1)	!important;
//   background:$backgroundColor!important;
//   color:$foregroundColor!important;
//   border-bottom:none!important;
//   height:44px!important;
//   padding-top:0px!important;
//   padding-bottom:0px!important;
//
//   a{
//     &:hover{
//
//     }
//   }
//
//
//
//   ul{
//     li.current{
//       // @include dev-borders;
//       a{
//         background:$foregroundColor!important;
//         color:$backgroundColor!important;
//         @include rounded-corners (0px);
//       }
//     }
//     li{
//       a{
//         font-size: 1.3em!important;
//         color:white!important;
//         text-shadow:none!important;
//         background:none!important;
//         // padding-bottom:6px!important;
//         padding-top:18px!important;
//         padding-bottom:18px!important;
//         padding-right:20px!important;
//         padding-left:20px!important;
//         border-bottom: none!important;
//         @include rounded-corners (0px);
//         // @include dev-borders(yellow);
//         &:hover{
//           background:$foregroundColor!important;
//           color:$backgroundColor!important;
//           border-bottom: none!important;
//           // @include dev-borders(green);
//         }
//       }
//       ul{
//         background:$foregroundColor!important;
//         color:$backgroundColor!important;
//         @include rounded-corners (0px);
//         li{
//           a{
//             // @include dev-borders;
//             color:$backgroundColor!important;
//             padding-top:10px!important;
//             padding-bottom:10px!important;
//             &:hover{
//               text-decoration:underline!important;
//             }
//           }
//         }
//       }
//     }
//   }
// }




  // #title_bar{
  //   background:$foregroundColor!important;
  //   color:$backgroundColor!important;
  //   text-shadow:none!important;
  //   box-shadow:none!important;
  //   h2#page_title{
  //     color:$backgroundColor!important;
  //     text-shadow:none!important;
  //   }
  // }
  //
	// .site_title{
  //   padding-top:0px!important;
  //   a{
  //     // @include dev-borders;
  //     width:auto!important;
  //     height:60px!important;
  //     display:block!important;
  //
  //     img{
  //       top:0!important;
  //       height:100%!important;
  //       width: auto;
  //       // @include dev-borders;
  //     }
  //   }
  //
	// }


  // .action_item a{
  //   color:$backgroundColor!important;
  // }


  //
  // Active Admin Form
  //
  // input[type="submit"]{
  //   background:$backgroundColor!important;
  //   color:$foregroundColor!important;
  //   text-shadow:none!important;
  // }
  // li.cancel a{
  //     color:$backgroundColor!important;
  // }
