<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @foto.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @foto.descricao %>
</p>

<p>
  <strong>Published:</strong>
  <%= @foto.published %>
</p>

<%= link_to 'Edit', edit_foto_path(@foto) %> |
<%= link_to 'Back', fotos_path %>
