<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title)%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="<%= yield :description %>">
  <meta name="keywords" content="<%= yield :keywords %>">
  <meta name="author" content="Caio Gouveia - @caiogouveia">

  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-144x144-precomposed.png">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :head %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>

<body>


<%=render "partials/nav"%>
<%= yield %>
<%=render "partials/footer"%>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
